@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}



@media only screen and (max-width: 385px) {
    .ant-drawer-content-wrapper {
        width: 85% !important;
    }
}
.ant-collapse{
    background-color: transparent;
    border: 0;
   
  }
  .ant-collapse-content{
    background-color: transparent;
    border-bottom: 0;
  }
  .ant-collapse-item {
   border-bottom: 0;
  }

  .slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    
   
}
.slick-prev:before,
.slick-next:before
{
    font-size: 25px !important;
    line-height: 1;
   
    opacity: .75;
    color: #2A35A7 !important;

    
}
